<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <head>
        <h1><%= title %></h1>
    </head>
    <div role="main">
        <h2><%= collection[0].relations.user.attributes.name %>`s Home.</h2>
        <p><%= collection[0].relations.user.attributes.comment %></p>
        <hr>
        <p><table style="width: 90px;">
            <% for(let i in collection) { %>
                <%- include('data_item', {let: collection[i]}) %>
            <% } %>
        </table></p>
        <p><table style="width: 95%;">
            <% for(let i in collection){%>
                <%- include('data_item', {let: collection[i]}) %>
            <% }%>
        </table></p>
        <p>
            <% if (pagination.page > 1) { %>
                <span><a href="/<%= pagination.page - 1 %>">&lt;&lt; prev</a></span>
            <% } else { %>
                <span>&lt;&lt; prev</span>
            <% } %>
            |
            <% if (pagination.page > 1) { %>
                <span><a href="/<%= pagination.page - 1 %>">&lt;&lt; prev</a></span>
            <% } else { %>
                <span>&lt;&lt; prev</span>
            <% } %>
            |
            <% if (pagination.page < pagination.pageCount) { %>
                <span><a href="/<%= pagination.page + 1 %>">Next &gt;&gt;</a></span>
            <% } else { %>
                <span>Next &gt;&gt;</span>
            <% } %>
        </p>
        <p><a href="/">&lt;&lt; TOP</a></p>
    </div>
</body>
</html>