<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type" content="text/html"; charsert="UTF-8">
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
               $('#btn').click(function(){
                  let n = $('#num').val();
                  $.getJSON(`/ajax?id=${n}`, function(json){
                     let msg = `<table>
                                <tr><th>名前</th>
                                <td>${json.name}</td></tr>
                                <tr><th>年齢</th>
                                <td>${json.age}</td></tr>
                                <tr><th>メール</th>
                                <td>${json.mail}</td></tr>
                                </table>`;
                     $('#msg').html(msg);

                  });
               });
            });
        </script>
    </head>
    <body>
        <header>
            <h1><%= title %></h1>
        </header>
        <div role="main">
            <table>
                <% for(let i in content) { %>
                    <tr>
                        <% let obj= content[i].attributes; %>
                        <th><%= obj.id %></th>
                        <td><%= obj.name %></td>
                        <td><%= obj.mail %></td>
                        <td><%= obj.age %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </body>
</html>